<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laboratorio3forms"
        tools:targetApi="31">
        <activity
            android:name=".VerificacionContrasena"
            android:exported="false" />
        <activity
            android:name=".ConversorKmToMillas"
            android:exported="false" />
        <activity
            android:name=".AreaDeRectangulo"
            android:exported="false" />
        <activity
            android:name=".ValidacionDeEdad"
            android:exported="false" />
        <activity
            android:name=".MultiplicadorDeNumeros"
            android:exported="false" />
        <activity
            android:name=".CalculadoraDescuento"
            android:exported="false" />
        <activity
            android:name=".SumaDosNumeros"
            android:exported="false" />
        <activity
            android:name=".ValidacionNombre"
            android:exported="false" />
        <activity
            android:name=".ConversorTemperatura"
            android:exported="false" />
        <activity
            android:name=".CalculadoraEdad"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>